<head>
  <link rel="stylesheet" type="text/css" href="css/materialize.css">
  <link rel="stylesheet" type="text/css" href="css/custom.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=PT+Mono" rel="stylesheet">
</head>

<body class="grey darken-4">
  <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper black">
        <a href="/" class="brand-logo green-text text-accent-3">{<strong>PGCTF.0x13</strong>},about</a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="team">Team</a></li>
          <li><a href="about">About</a></li>
          <li><a href="practice">Practice</a></li>
          <li><a href="history">History</a></li>
          <li><a href="contact">Contact</a></li>
          <li><a class="pg-red" href="register">Register</a></li>
        </ul>
        <ul class="side-nav" id="mobile-demo">
          <li><a href="team">Team</a></li>
          <li class="active"><a href="about">About</a></li>
          <li><a href="practice">Practice</a></li>
          <li><a href="history">History</a></li>
          <li><a href="contact">Contact</a></li>
          <li><a class="pg-red white-text" href="register">Register</a></li>
        </ul>
      </div>
    </nav>
  </div>
  <div class="container">
    <h1 class="green-text text-accent-4 center">=== INIT <strong class="info">ABOUT<strong> ===</h1>
    <h3 class="green-text text-accent-4">_what_is_a_ctf</h3>
    <p>Don't know what a computer is? Create a team and come anyways. The team can help you learn.<br>A CTF, or Capture the Flag, is a jeopardy-style cybersecurity competition. Teams of 1-4 students compete against other teams to solve the most problems and fight their way to the top of the leaderboard.</p>
    <h3 class="green-text text-accent-4">_educational_benefits</h3>
    <p>A CTF can educate its participants in many areas, and we specifically design our problems to accommodate every experience level from beginner to advanced.</p>
    <div class="row">
      <div class="col s12 m6">
        <div class="card black">
          <div class="card-content">
            <span class="card-title info"><i class="material-icons">question_answer</i> Teamwork</span>
            <p>Teamwork is one of the most valuable skills to have. Developing the ability to work and coordinate with a group of people during earlier years undoubtably helps with a professional life later on.</p>
          </div>
        </div>
      </div>
      <div class="col s12 m6">
        <div class="card black">
          <div class="card-content">
            <span class="card-title info"><i class="material-icons">edit</i> Problem Solving</span>
            <p>Participating in a CTF requires self-exploration and constructive problem solving. Learning to find answers to problems without dependence on an educator is crucial for many modern career paths.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col s12 m6">
        <div class="card black">
          <div class="card-content">
            <span class="card-title info"><i class="material-icons">assignment</i> Skills</span>
            <p>Throughout a CTF, the participants learn new tactics on approaching complex concepts like creating algorithms, performing cyber-forensics on various media, and penetration testing websites professionally.</p>
          </div>
        </div>
      </div>
      <div class="col s12 m6">
        <div class="card black">
          <div class="card-content">
            <span class="card-title info"><i class="material-icons">folder_shared</i> Networking</span>
            <p>Creating a professional network is an important factor in success. Having people to ask questions, get resources, and collaborate with can be incredibly beneficial when looking ahead.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>
  <!-- Global Site Tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-107591290-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-107591290-1');
  </script>
</body>
