<head>
  <link rel="stylesheet" type="text/css" href="css/materialize.css">
  <link rel="stylesheet" type="text/css" href="css/custom.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=PT+Mono" rel="stylesheet">
</head>

<body class="home grey darken-4">
  <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper black">
        <a href="/" class="brand-logo green-text text-accent-3">{<strong>PGCTF.0x13</strong>},history</a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="team">Team</a></li>
          <li><a href="about">About</a></li>
          <li><a href="practice">Practice</a></li>
          <li><a href="history">History</a></li>
          <li><a href="contact">Contact</a></li>
          <li><a class="pg-red" href="register">Register</a></li>
        </ul>
        <ul class="side-nav" id="mobile-demo">
          <li><a href="team">Team</a></li>
          <li><a href="about">About</a></li>
          <li><a href="practice">Practice</a></li>
          <li class="active"><a href="history">History</a></li>
          <li><a href="contact">Contact</a></li>
          <li><a class="pg-red white-text" href="register">Register</a></li>
        </ul>
      </div>
    </nav>
  </div>
  <h3 class="warning">STAGED, NOT FINAL</h3>
  <div class="container green-text">
    <h2 class="center">=== INIT HISTORY ===</h2>
    <center>I mean, no one will read this. Who cares?</center>
    <p class="json">
    <br>
    <strong class="info">Porter-Gaud Capture the Flag</strong> has a boring history. Like many start-ups, it was founded in a legend's garage- <strong class="info">Tillson Galloway</strong>.
    <img src="images/pg_emblem.png" class="accent">
  </p>
  </div>

  <div class="container">
    <h3 class="green-text text-accent-4">good_times :-)</h3>
    <div class="row">
      <div class="col s12 m6">
        <div class="card black">
          <div class="card-image">
            <img src="images/pgctf17.jpg" class="card-img">
          </div>
          <div class="card-content white-text">
            <p>The <strong>2017</strong> edition of PGCTF was the first. It was the start of an amazing journey for the team developing it, and the students who participated. Of course, the first of anything comes with mistakes- a fun fact about this year: the T-shirts handed out said, "PGCTF16" even though the event was actually held January 2017. We realized this mistake on the day of the event... That's fine though, we laugh at it looking back.</p>
          </div>
          <div class="card-action">
            <strong>Unfortunately, we did not have a website this year.</strong>
          </div>
        </div>
      </div>
      <div class="col s12 m6">
        <div class="card black">
          <div class="card-image">
            <img src="images/pgctf18.png" class="card-img">
          </div>
          <div class="card-content white-text">
            <p>A year after PGCTF17 we held "<strong>Copa de Porter</strong>". We were experienced and knew what to do- <i>Things got serious</i>. The day before the event rolls around and hardly anything had been set up yet. After spending countless hours at the school, we finish setup and head home. During the event, we got the brilliant idea of setting a computer in the middle of the room with a flag on it, and surprisingly it took a solid while before anyone even noticed it.</p>
          </div>
          <div class="card-action">
            <a href="https://pgctf18.portergaud.edu" target="_blank">PGCTF18 Website</a>
            <a href="http://tillsongalloway.com/blog/pgctf-2017/index.html" target="_blank">Behind the Scenes</a>
          </div>
        </div>
      </div>
    </div>
    <br>
    <h3 class="green-text text-accent-4">A message to you</h3>
    <p class="json green-text">I wanted to mention this somewhere but I couldn't think of a good place.<br>We love participating in CTFs, too. If we've inspired any schools out there to host a competition, but you don't know where to start, <i>please</i> send me an email <a href="mailto:ctruluck20@portergaud.edu">using this link</a>. I will help your team out in any way possible.</p>
  </div>
  <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>
  <!-- Global Site Tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-107591290-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-107591290-1');
  </script>
</body>
