<head>
  <link rel="stylesheet" type="text/css" href="css/materialize.css">
  <link rel="stylesheet" type="text/css" href="css/custom.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=PT+Mono" rel="stylesheet">
</head>

<body class="home grey darken-4">
  <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper black">
        <a href="/" class="brand-logo green-text text-accent-3">{<strong>PGCTF.0x13</strong>}</a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="team">Team</a></li>
          <li><a href="about">About</a></li>
          <li><a href="practice">Practice</a></li>
          <li><a href="history">History</a></li>
          <li><a href="contact">Contact</a></li>
          <li><a class="pg-red" href="register">Register</a></li>
        </ul>
        <ul class="side-nav" id="mobile-demo">
          <li><a href="team">Team</a></li>
          <li><a href="about">About</a></li>
          <li><a href="practice">Practice</a></li>
          <li><a href="history">History</a></li>
          <li><a href="contact">Contact</a></li>
          <li><a class="pg-red white-text" href="register">Register</a></li>
        </ul>
      </div>
    </nav>
  </div>
  <h3 class="warning">STAGED, NOT FINAL</h3>
  <img src="images/pgctf19.png" class="logo">
  <div class="container green-text">
    <h2 class="center">=== <strong class="info">BEGINNING<strong> OF <strong class="info">PROCEDURE</strong> ===</h2>
    <center><a href="about" class="pg-gold">what is this?</a></center>
    <p class="json">
    <br>
    ; Event: [<strong class="info">PGCTF19</strong>]<br>
    ; Version: [annual num; <strong class="info">3.0</strong>]<br>
    ; Date: [<strong class="info">23 february; {9:00A->3:00P}</strong>]<br>
    ; Address: [<strong class="info">300.albemarle.rd</strong>]
  </p>
  </div>
  <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>
  <!-- Global Site Tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-107591290-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-107591290-1');
  </script>
</body>
