<head>
  <link rel="stylesheet" type="text/css" href="css/materialize.css">
  <link rel="stylesheet" type="text/css" href="css/custom.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=PT+Mono" rel="stylesheet">
</head>

<body class="home grey darken-4">
  <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper black">
        <a href="/" class="brand-logo green-text text-accent-3">{<strong>PGCTF.0x13</strong>}</a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="about">About</a></li>
          <li><a href="practice">Practice</a></li>
          <li><a href="register">Register</a></li>
          <li><a href="contact">Contact</a></li>
        </ul>
        <ul class="side-nav" id="mobile-demo">
          <li><a href="about">About</a></li>
          <li><a href="practice">Practice</a></li>
          <li><a href="register">Register</a></li>
          <li><a href="contact">Contact</a></li>
        </ul>
      </div>
    </nav>
  </div>
  <img src="images/pgctf19.png" class="logo">
  <div class="container green-text">
    <h4>=== BEGINNING OF PROCEDURE ===</h1>
    <p class="json">
    <br>
    ; Segment [PGCTF19<br>
    ; Analysis version: [annual num; 3.0<br>
    ; Range: [23; february<br>
    ; Mem_address: 300.albemarle.rd
  </p>
  </div>
  <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>
  <!-- Global Site Tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-107591290-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-107591290-1');
  </script>
</body>
