<head>
  <link rel="stylesheet" type="text/css" href="css/materialize.css">
  <link rel="stylesheet" type="text/css" href="css/custom.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=PT+Mono" rel="stylesheet">
  <!--
    Oh, it's nice seeing you here.
    The flag is: flag{y0u_g0t_it}
  -->
</head>

<body class="grey darken-4 green-text accent-3">
  <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper black green-text text-accent-4">
        <a href="/" class="brand-logo green-text text-accent-3">{<strong>PGCTF.0x13</strong>},practice</a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="about">Team</a></li>
          <li><a href="practice">Practice</a></li>
          <li><a href="history">History</a></li>
          <li><a href="contact">Contact</a></li>
          <li><a class="pg-red" href="register">Register</a></li>
        </ul>
        <ul class="side-nav" id="mobile-demo">
          <li><a href="about">Team</a></li>
          <li><a href="practice">Practice</a></li>
          <li><a href="history">History</a></li>
          <li><a href="contact">Contact</a></li>
          <li><a class="pg-red" href="register">Register</a></li>
        </ul>
      </div>
    </nav>
  </div>
  <h3 class="warning">STAGED, NOT FINAL</h3>
  <div class="container">
    <h1 class="green-text text-accent-4 center">=== INIT PRACTICE ===</h1>
    <h3 class="green-text text-accent-4">__cryptography</h3>
    <ul class="collapsible popout" data-collapsible="accordion">
      <li>
        <div class="collapsible-header green-text text-accent-4 black">crypto/15 March, 44 BC</div>
        <div class="collapsible-body black"><span>synt{gur_vqrf_bs_znepu}
          <ul class="collapsible black" data-collapsible="accordion">
            <li>
              <div class="collapsible-header black">Hint</div>
              <div class="collapsible-body black"><span>What happened on that date? Google for ciphers that involve that.</span></div>
            </li>
            <li>
              <div class="collapsible-header black">Answer</div>
              <div class="collapsible-body black"><span>flag{the_ides_of_march}</span></div>
            </li>
          </ul>
        </span></div>
      </li>
      <li>
        <div class="collapsible-header green-text text-accent-4 white-text black">crypto/All your base are belong to us!</div>
        <div class="collapsible-body black"><span>ZmxhZ3tiYXNlNjRfZW5jb2RpbmdfaXNfbm90X3NlY3VyZX0=
        <ul class="collapsible" data-collapsible="accordion">
           <li>
             <div class="collapsible-header black">Hint</div>
             <div class="collapsible-body black"><span>Binary is base 2, Hexadecimal is base 16, what base is this?</span></div>
           </li>
           <li>
             <div class="collapsible-header black">Answer</div>
             <div class="collapsible-body black"><span>flag{base64_encoding_is_not_secure}</span></div>
           </li>
         </ul>
       </span></div>
      </li>
    </ul>
    <h3 class="green-text text-accent-4">__web</h3>
    <ul class="collapsible popout" data-collapsible="accordion">
      <li>
        <div class="collapsible-header green-text text-accent-4 white-text black">web/$(this)</div>
        <div class="collapsible-body black"><span>
          <ul class="collapsible black" data-collapsible="accordion">
            <li>
              <div class="collapsible-header black">Hint</div>
              <div class="collapsible-body black"><span>The flag is on this webpage... How can you see the source of the page?</span></div>
            </li>
            <li>
              <div class="collapsible-header black">Answer</div>
              <div class="collapsible-body black"><span>Flag: flag{y0u_g0t_it}</span></div>
            </li>
          </ul>
        </span></div>
      </li>
    </ul>
    <br>
    <h1 class="green-text text-accent-4 center">=== INIT RESOURCES ===</h1>
    <hr>
    <div class="row">
      <div class="col s12 m4">
        <div class="card green-text text-accent-4 black">
          <div class="card-content white-text">
            <span class="card-title"><strong>PicoCTF</strong> Competition</span>
            <p>PicoCTF is one of the first CTFs. Their competitions brought new problems no one's ever seen before, creating a really good resource for students to study from and prepare for our upcoming competition.</p>
          </div>
          <div class="card-action">
            <a href="https://picoctf.com/" target="_blank">PicoCTF.com</a>
            <a href="https://github.com/LFlare/picoctf_2017_writeup" target="_blank">writeup</a>
          </div>
        </div>
      </div>
      <div class="col s12 m4">
        <div class="card green-text text-accent-4 black">
          <div class="card-content white-text">
            <span class="card-title"><strong>PGCTF18</strong> "Writeup"</span>
            <p>This is <strong>quite literally the best practice you can get</strong>. After all, it is the same competition- who knows, maybe you will see some similar problems... ;)</p>
          </div>
          <div class="card-action">
            <a href="https://github.com/tillson/pgctf18-problems" target="_blank">Writeup</a>
          </div>
        </div>
      </div>
      <div class="col s12 m4">
        <div class="card green-text text-accent-4 black">
          <div class="card-content white-text">
            <span class="card-title"><strong>HSCTF</strong> High School CTF</span>
            <p>HSCTF is also a great resource to practice and study. Similar to EasyCTF, the game has been taken down but it's definitely worth a look at the writeups.</p>
          </div>
          <div class="card-action">
            <a href="https://jakobdegen.gitbooks.io/hsctf-4-writeups/content/" target="_blank">writeup</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col s12 m6">
        <div class="card green-text text-accent-4 black">
          <div class="card-content white-text">
            <span class="card-title">Trail of Bits <strong>CTF Field Guide</strong></span>
            <p>The Trail of Bits CTF Field Guide is a great ersource during a CTF. Take a look.</p>
          </div>
          <div class="card-action">
            <a href="http://trailofbits.github.io/ctf/" target="_blank">open</a>
          </div>
        </div>
      </div>
      <div class="col s12 m6">
        <div class="card green-text text-accent-4 black">
          <div class="card-content white-text">
            <span class="card-title">OWASP Top Ten <strong>list of vulnerabilities</strong></span>
            <p>Similar to the Trail of Bits CTF Field Guide, the OWASP Top Ten is a great tool during a CTF.</p>
          </div>
          <div class="card-action">
            <a href="https://www.owasp.org/index.php/Category:OWASP_Top_Ten_Project" target="_blank">open</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>
  <!-- Global Site Tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-107591290-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-107591290-1');
  </script>
</body>
