<head>
  <link rel="stylesheet" type="text/css" href="css/materialize.css">
  <link rel="stylesheet" type="text/css" href="css/custom.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=PT+Mono" rel="stylesheet">
</head>

<body class="grey darken-4">
  <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper black">
        <a href="/" class="brand-logo green-text text-accent-3">{<strong>PGCTF.0x13</strong>},team</a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="team">Team</a></li>
          <li><a href="about">About</a></li>
          <li><a href="practice">Practice</a></li>
          <li><a href="history">History</a></li>
          <li><a href="contact">Contact</a></li>
          <li><a class="pg-red" href="register">Register</a></li>
        </ul>
        <ul class="side-nav" id="mobile-demo">
          <li class="active"><a href="team">Team</a></li>
          <li><a href="about">About</a></li>
          <li><a href="practice">Practice</a></li>
          <li><a href="history">History</a></li>
          <li><a href="contact">Contact</a></li>
          <li><a class="pg-red white-text" href="register">Register</a></li>
        </ul>
      </div>
    </nav>
  </div>
  <h3 class="warning">STAGED, NOT FINAL</h3>
  <div class="container">
    <h1 class="green-text text-accent-4 center">=== INIT <strong class="info">TEAM<strong> ===</h1>
    <h3 class="green-text text-accent-4">_students</h3>
    <div class="row">
      <div class="col s12 m4">
        <div class="card black">
          <div class="card-image">
            <img src="images/profiles/charles.jpg" class="card-img">
            <span class="card-title"><strong>Charles</strong>_Truluck</span>
          </div>
          <div class="card-content white-text">
            <p>Charles Truluck is a junior and has been programming for around 5 years. He is active in the Cybersecurity, football, and bowling communities.</p>
          </div>
          <div class="card-action">
            <a href="https://twitter.com/charlestruluck_" target="_blank">twitter</a>
            <a href="https://github.com/charlestruluck" target="_blank">github</a>
          </div>
        </div>
      </div>
      <div class="col s12 m4">
        <div class="card black">
          <div class="card-image">
            <img src="images/profiles/pleasent.jpg" class="card-img">
            <span class="card-title"><strong>Pleasent</strong>_Balenger</span>
          </div>
          <div class="card-content white-text">
            <p>Pleasant loves all things Computer Science- particularly cybersecurity. He also enjoys reading, writing, and debating about freedom and liberty.</p>
          </div>
          <div class="card-action">
            <a href="https://twitter.com/pleaballenger" target="_blank">twitter</a>
            <a href="https://github.com/Bawllp" target="_blank">github</a>
          </div>
        </div>
      </div>
      <div class="col s12 m4">
        <div class="card black">
          <div class="card-image">
            <img src="images/profiles/michael.jpeg" class="card-img">
            <span class="card-title"><strong>Michael</strong>_Shipman</span>
          </div>
          <div class="card-content white-text">
            <p>Michael has been diving into the cybersecurity world and participates on the Cybersecurity Team at Porter. Outside of education, he also enjoys extracurriculars such as swimming.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col s12 m4">
        <div class="card black">
          <div class="card-image">
            <img src="images/profiles/charles_cav.png" class="card-img">
            <span class="card-title"><strong>Charles</strong><strong class="info">_Cavatoni</strong></span>
          </div>
          <div class="card-content white-text">
            <p>Charles has been on the cybersecurity team for two years. He is also active in many clubs including the cybersecurity team and swimming team.</p>
          </div>
        </div>
      </div>
      <div class="col s12 m4">
        <div class="card black">
          <div class="card-image">
            <img src="images/profiles/kyler.jpeg" class="card-img">
            <span class="card-title"><strong>Kyler</strong>_Psynka</span>
          </div>
          <div class="card-content white-text">
            <p>Kyler enjoys anything and everything technical, from advanced algebraic functions to Computer Science. He also enjoys to participate on Porter-Gaud's Soccer and Bowling teams.</p>
          </div>
          <div class="card-action">
            he's a nerd.
          </div>
        </div>
      </div>
    </div>
    <h3 class="green-text text-accent-4">_admins</h3>
    <div class="row">
      <div class="col s12 m6">
        <div class="card black">
          <div class="card-content white-text">
            <span class="card-title">D. <strong>Bergman</strong></span>
            <p>Computer Science Department Chair, Full-time CS instructor, and Microsoft Innovative Educator.</p>
          </div>
          <div class="card-action">
            <a href="mailto:dbergman@portergaud.edu">Contact</a>
          </div>
        </div>
      </div>
      <div class="col s12 m6">
        <div class="card black">
          <div class="card-content white-text">
            <span class="card-title">A. <strong>Carpenter</strong></span>
            <p>Audio/visual engineer and information technology, among other things. A backbone supporting technological succession in education at Porter-Gaud School.</p>
          </div>
          <div class="card-action">
            <a href="mailto:acarpenter@portergaud.edu">Contact</a>
          </div>
        </div>
      </div>
      <div class="col s12 m6">
        <div class="card black">
          <div class="card-content white-text">
            <span class="card-title">P. <strong>Zaubi</strong></span>
            <p>Director of Technology at Porter-Gaud, and truly the blood, bones, and CAT6 of the school.</p>
          </div>
          <div class="card-action">
            <a href="mailto:pzaubi@portergaud.edu">Contact</a>
          </div>
        </div>
      </div>
      <div class="col s12 m6">
        <div class="card black">
          <div class="card-content white-text">
            <span class="card-title">J. <strong>Sessions</strong></span>
            <p>Technology and Innovation Specialist and coordinator of the technology curriculum across the school divisions.</p>
          </div>
          <div class="card-action">
            <a href="mailto:jsessions@portergaud.edu">Contact</a>
          </div>
        </div>
      </div>
      <div class="col s12 m6">
        <div class="card black">
          <div class="card-content white-text">
            <span class="card-title">J. <strong>Kowalczyk</strong></span>
            <p>Information technology specialist by day; Mr. Robot by night. You never saw it coming.</p>
          </div>
          <div class="card-action">
            <a href="mailto:jkowalczyk@portergaud.edu">Contact</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>
  <!-- Global Site Tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-107591290-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-107591290-1');
  </script>
</body>
